body {
  background: radial-gradient(circle at 10% 20%, rgb(89, 195, 195) 0%, rgb(14, 175, 181) 90%);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px 
}
.App-Letters {
  max-width:300px;
  display: block;
  margin:  auto;
  padding: 20;
  border-radius: 25px;
  transition: all 150ms ease-in-out;
} 
.App-Letters:hover {
  filter: contrast(130%);
  transform: scale(1.1);
}
.App h1 {
  font-size: 60px;
  color: rgb(248, 55, 53);
  font-family: Pacifico;
}
.App .bg-style {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.App-footer {
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  color: seashell;
  
}